.res-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card-image {
  height: 190px;
  width: 270px;
  border-radius: 20px;
}
.card-container {
  padding: 4px;
  margin: 5px;
  cursor: pointer; /* Add cursor pointer */
  transition: all 0.3s ease; /* Smooth transition on hover */
}

.card-container:hover {
  transform: scale(0.95);
}
.rating-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10;
}
.point {
  font-weight: bolder;
}
.search-input {
  padding: 10px;
  margin: 10px;
  width: 30%;
}
.search-container {
  display: flex;
  justify-content: space-around;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20;
}
